.dogBestFriend{
    padding: 120px 0;
}
.dogBestFriend h2{
    margin-bottom: 70px;
    font-weight: 700;
}

.dogBestFriendwrap span{
    max-width: 716px;
}

.dogBestFriendwrap span p{
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
}